certifi==2020.4.5.1
chardet==3.0.4
entrypoints==0.3
flake8==3.7.9
idna==2.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.2.0
requests==2.23.0
urllib3==1.25.9

#Deps do Pytest
more-itertools==4.0.0
atomicwrites==1.4.0
pluggy==1.0
attrs==17.4.0
py==1.5.0
six==1.14.0
pytest==3.5.1
-r requirements.txt